*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  padding: 2rem;
}

.calculator {
  width: 300px;
  background-color: rgb(65, 65, 65);
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  padding: 2rem;
}

.display {
  display: flex;
  justify-content: flex-end;
  background-color: azure;
  padding: 10px;
  margin: 10px 0;
  gap: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

button {
  cursor: pointer;
  background-color: azure;
  height: 50px;
  border: 0;
}
